# libinput-multiplier.
echo 2.5 > /tmp/libinput_discrete_deltay_multiplier

# IBus.
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT4_IM_MODULE=ibus
export CLUTTER_IM_MODULE=ibus

ibus-daemon -drxR

